// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
        background-color: $brightBlue;
        padding: 40px 0 80px;
        max-width: 100%;
        
        .footerContent {
            text-align: center;
            max-width: 62.5rem;
            margin: 0 auto;
            color: $truewhite;
            h6 {
                color: $truewhite;
            }
            a {
                color: lighten($brightBlue, 15%);
                transition: all .2s ease-in-out;

                &:hover {
                    color: $truewhite;
                    text-decoration: underline;                        
                }
            }
        }
	}
}
