// Global Styles

// General Styles
* {
	margin: 0;
	padding: 0;
}

// Prettify type rendering
body, 
p {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: $sans-serif;
	font-size: $body-font-size;
	color: $steel;
}

a {
    color: darken($brandPrimary, 25%);
    transition: all .2s ease-in-out;
    &:hover {
        color: lighten($brandSecondary, 5%);
    }
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

@mixin headingsSerif {
    h1, h2 {
        @content;
    }
}

@include headingsSerif {
    font-family: $serif;
    color: lighten($steel, 25%);
    text-align: center;
    text-transform: uppercase;
}

@mixin headingsSansSerif {
    h3, h4, h5, h6 {
        @content;
        color: $brandPrimary;
    }
}

@include headingsSansSerif {
    font-family: $sans-serif;
    color: lighten($steel, 25%);
    text-align: center;
    text-transform: uppercase;
}

h2 {
	font-size: 1.875rem;
    @include headingsSerif;
}

h6 {
    font-weight: bold;
}


// Override Default Button Color
button, .button {
    background-color: $brightGreen;
    &:hover {
        background-color: lighten($brightGreen, 5%);
    }
}


// Google Map for Places
.acf-map {
    width: 100%;
    height: 300px;
    border: 0;
    border-bottom: 5px solid $brightBlue;
    margin: 20px 0;
}


// Yoast SEO Breadcrumbs
#breadcrumbs {
    font: {
        size: 12px
    };
    margin-left: 20px;
}


// Search Field
.bliSearchInput {
    position: relative;
    float: right;
    border: 1px solid $silver;
    border-radius: 15px;
    width: 340px;
    label {
        input {
            // Remove Default Input Styles
            border: {
                style: none;
                width: 0;
                color: transparent;
            };
            box-shadow: 0 0 0 0;
            width: 210px;
            height: 30px;
            float: left;
            background-color: transparent;
            border: 0;
            margin-bottom: 0 !important;
            padding: 0 0 0 12px;
            font-size: 0.75em;
            font-family: $sans-serif;
            color: $aluminum;
            &:focus {
                border-radius: 15px;
                width: 340px;
                background-color: $vapor;
            }
        }

        @media #{$small-only} {
            width: 90%;
            margin: 5%;
        }   
    }    
}

.bliFormButton {
    position: absolute;
    right: 2px;
    top: 2px;
    height: 26px;
    width: 26px;
    padding-top: 1px;
    background: {
        image: url('../assets/png/circle-right.png');
        color: $trueWhite;
        size: 100%;
    };
    opacity: 0.6;
    border: 0;

    text-indent: -9999px;

    a {
        display: block;
    }

    img {
        height: 24px;
        width: 24px;
        opacity: 0.5;
    }
}


// Social Media Profiles/Menu
.socialLinks {
    width: 30%;
    height: 2.5em;
    float: left;
    ul {
        list-style: none;
        
        li {
            display: inline;
            float: left;
            height: 30px;
            width: 30px;
            margin-right: 10px;
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.1);  
            }
            
            a {
                display: block;
                height: 2em;
                width: 2em; 
            }
        }
        .facebook {
            background-image: url("../assets/svg/facebook.png");
        }
        .twitter {
            background-image: url("../assets/svg/twitter.png");
        }
        .instagram {
            background-image: url("../assets/svg/instagram.png");
        }
    }
    @media #{$small-only} {
        display: none;
    }
}

// Next and Previous Post Links
.nextPrevLinks {
    font: {
        family: $sans-serif;
        size: 12px;
    }
    text-align: center;
}
