// Media Blocks

.mediaBlock {
    position: relative;

    &:hover {
        text-decoration: none;
    }

    img {
        height: 220px;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.02);
        }
    }

    .mediaBlockText {
        border: 1px solid $silver;
        border-top: none;
        padding: 6px;
    }
    // Social Buttons
    .fb_iframe_widget {
        position: absolute;
        top: 0;
        right: 0;
    }
    .pluginCountNum {
        display: none
    }

}

