.placesSidebar {

    text-align: center;

    h6 {
        color: $steel;
    }

    .placeAddress,
    .placeNumber,
    .placeHours,
    .placeWidgets,
    .placeWeb {
        border: 1px solid $smoke;
        margin: 2rem auto;
        padding: 1rem; 
    }
    
    .placeAddress {
        margin-top: 0;
    }
}

.placeWeb {
    word-wrap: break-word;
}

// Filterable Categories at Top of page
.archiveCategories {
    margin: 20px 0;
}