// Top Bar/Header Styles

.header {
    margin: 20px auto 0;
}

.branding {
    display: none;
    @media #{$medium-up} { 
        width: 185px;
        float: left;
        display: block;
    }
}

.tagline {
    .logoText {
        text-transform: capitalize;
        color: $black;
        font-size: 14px;
        float: left;
        margin: 24px 0 0 32px;

        @media #{$medium-only} {
            display: block;
            width: 50% !important;
            float: right;
            text-align: right;
            padding-right: 12px;
        }
    }
    @media #{$small-only} {
        display: none;
    }
}

.officialBli {
    color: $charcoal;
    text-shadow: 0 1px 1px $jumbo;
    text-align: center;
    font-size: 26px;
    @media #{$medium-only} {
        display: none;
    }
    
    @media #{$small-only} {
        display: none;
    }

}

#logo {
    background: url('../assets/logo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 131px;
    width: 185px;
}    


// Newsletter Sign-Up
.bliTextInput {
    float: right;
    width: 500px;
    margin-top: 24px;
    .bliFormField {
        position: relative;
        float: right;
        border: 1px solid $silver;
        border-radius: 15px;
        width: 50%;
        height: 32px;
        
        input {
            // Remove Default Input Styles
            border: {
                style: none;
                width: 0;
                color: transparent;
            };
            box-shadow: 0 0 0 0;
            //
            width: 210px;
            height: 30px;
            float: left;
            background-color: transparent;
            border: 0;
            margin-bottom: 0 !important;
            padding: 8px 0 0 12px;
            font-size: 0.75em;
            font-family: $sans-serif;
            color: $aluminum;
        }

        .bliFormButton {
            float: right;
            height: 26px;
            width: 26px;
            padding-top: 1px;

            a {
                display: block;
            }

            img {
                height: 24px;
                width: 24px;
                opacity: 0.5;
            }
        }
    }
    @media #{$medium-only} {
        display: block;
        width: 50% !important;
        float: right;
    }
    @media #{$small-only} {
        display: none !important;
    }
}

.bliFormText {
    font: {
        size: 0.75em;
    };
    color: $aluminum;
    float: left;
    display: inline;
    width: 50%;
    text-align: right;
    padding: 8px 12px 0 0;
    label {
        font-size: 0.775rem !important;
    }
}


input[type="text"]:focus {
    background: none;
}

// Desktop Top Bar Nav
.desktopNav {
    .top-bar-section {

        ul {
            list-style: none;
            margin-top: 20px;

            li {
                background-color: transparent !important;
                color: $steel;
                margin: 0 1px;

                a {
                    text-transform: uppercase;
                    line-height: 1.8rem !important;
                    font-size: 0.65625em;
                    background-color: transparent !important;
                    color: $steel;
                    padding: 1px 7px !important;
                    
                    &:hover,
                    &:active,
                    &:focus {
                        color: $brightGreen;
                    }
                }
                &.active {
                    background: $brandSecondary;
                }
            }
            .divider {
                border-right: none;
            }
        }
        @media #{$medium-only} {
            display: none;
        }
        @media #{$small-only} {
            display: none;
        }        
    }
}



// Override Default Active Top Nav
.top-bar-section ul li.active > a,
.top-bar-section ul li.active > a:focus,
.top-bar-section ul li.active > a:hover {
    color: $brightGreen !important;
    border-bottom: 4px solid $brightGreen !important;
    font-weight: bold;
}

// Dropdown Styles
.top-bar-section .right li .dropdown {
    background: darken($brightGreen, 20%) !important;
    margin-top: -4px !important;
}
.top-bar-section ul li:hover:not(.has-form)>a {
    color: $brightGreen !important;
}

.desktopNav .top-bar-section ul li a:focus {
    color: $brightGreen !important;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
    background: $brightGreen !important;
    &:hover {
        box-sizing: border-box;
        background: darken($brightGreen, 15%) !important;
        color: $trueWhite;
        border-bottom: 0 !important;
    }
}

// Desktop Nav Arrow
.top-bar-section .has-dropdown > a:after {
    content: "▼";
    font-size: 6px;
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent rgba(255,255,255,0.4);
    border-left-style: solid;
    margin-right: 0.9375rem;
    margin-top: -4.5px;
    position: absolute;
    top: 0;
    right: -16px;
}



// Mobile Nav Styles
.tab-bar {
    background: $monsoon;
    @media #{$medium} {
        display: block !important;
    }
    @media #{$large} {
        display: none !important;
    }
}

.left-small {
    border-right: 1px solid $trueWhite;
}

.left-off-canvas-menu {
    background: darken($trueWhite, 50%);
}

ul.off-canvas-list li a {
    color: $trueWhite;
    border-bottom: 1px solid $trueWhite;

    &:hover {
        background: $brandPrimary;
    }
}

.header {
    @media #{$small-only} {
        margin: 0 auto;
    }
}
